# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata

# IDEs
.idea/
*.iml

# VS Code
.vscode/

# Arquivos de log e sistema
*.log
*.swp
.DS_Store
Thumbs.db

# Dependências geradas
pubspec.lock
devtools_options.yaml
